.IngredientsControl {
  display: block;
  width: 56%;
  height: auto;
  border: 1px solid #7f3608;
  margin: 0 auto;
  text-align: center;
  background-color: #D6B572;
  padding: 20px;
}

.IngredientsControl-title {

}

.IngredientsControl-bold {
  display: inline-block;
  font-weight: bold;
}

.IngredientsControl-b {
  display: inline-block;
}

.IngredientsControl-bnt {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #7f3608;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.click {
  background-color: #7f3608;
}

.remove {
  background-color: #F08E4A;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Controls {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Controls {
    width: 450px;
    height: 300px;
  }
}

@media (min-width: 500px) and (max-height: 400px) {
  .Controls {
    width: 350px;
    height: 200px;
  }
}